<html ng-app="taxApp" ng-controller="TaxCtrl">
<head>
	<title>Tax Calculator</title>
    <link rel="stylesheet" type="text/css" href="tax.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>

    <script src="bower_components/Chart.js/Chart.js"></script>
    <script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
    <link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css">

    <script src="taxAngularCtrl.js"></script>	

</head>
<body>
    <div class="wrapper" >
        <div class="heading">
            <h2> Calculate your Tax Payment </h2>
            <div id="steps">
                1. Enter your income information in the modal windows.
               <br> 2. If you are filing joint taxes, enter your partner's information as well.
               <br> 3. Select 'Calculate Your Taxes' in the last window to display your tax details.
               <br> 4. A table and bar chart will then appear with details about your tax information.
               <br> 5. Scroll over each section's title for more information
            </div>
            <div id="logo"><img src="images/pv-logo.png"/></div>
        </div>

        <div class="page-body">
            <button id="toggler" ng-click='toggleModal()'>Click here to enter your income information</button>
            <modal-dialog show='modalShown' width='400px' height='60%'>
                
                 <!-- <div id="hover-form" ng-show="HoverFormisVisible"> Some details </div> -->

 
                <div id="tax-form">
                    <div id="tax-form-title">  Your Income Information </div>
  
                    <div class="tax-form-section" ng-show="slide == 1"><b> 1. Filing Status </b>
                            <p><input type="radio" ng-model="formData.filingChoice" ng-value="1"/> Single  
                            <br><input type="radio" ng-model="formData.filingChoice" ng-value="2"/> Joint 
                            <br><input type="radio" ng-model="formData.filingChoice" ng-value="3"/> Separate 
                            </p>
                    </div>
                        
                    <div class="tax-form-section" ng-show="slide == 2">
                        <b> 2. Gross Income </b>
                        <p><input type="number" ng-model="formData.grossIncome" /></p>
                    </div>
                            
                    <div class="tax-form-section" ng-show="slide == 3">
                        <b> 3. Adjusted Gross Income (AGI) </b>
                        <p><input type="number" ng-model="formData.agi" /></p>                    
                    </div>

                    <div class="tax-form-section" ng-show="slide == 4">
                        <b> 4. U.S State of Residence </b>
                        <p><input type="checkbox" ng-model="formData.state" /> New York </p>
                    </div>
                    
                    <div class="tax-form-section" ng-show="slide == 5">
                        <!-- <tbody id="partner-info" ng-show="filingStatus() == 'joint'"> -->
                        <b> 5. Spouse's Gross Income </b>
                        <p><input type="number" ng-model="formData.partnerGrossIncome" />*</p>
                        <div class="partner-opt">*Fill in only if you are filing joint taxes</div>
                    </div>

                    <div class="tax-form-section" ng-show="slide == 6">
                        <b> 6. Spouse's AGI </b>
                        <p><input type="number" ng-model="formData.partnerAgi" />*</p>
                        <div class="partner-opt">*Fill in only if you are filing joint taxes</div>
                    </div> 

                            <!-- <td colspan="2">
                                <input type="button" ng-click="reset()" value="Reset"/> -->

            <button id="previous" ng-hide="slide == 1" ng-click="previousModal()"> previous </button>        
            <button id="next" ng-hide="slide == 6" ng-click="nextModal()"> next </button>

            <p><button id="form-submit" ng-show="slide == 6" ng-click="calculateTax()"> Calculate Your Taxes </button></p>

        </div>

            </modal-dialog>


        <canvas id="pie" class="chart chart-pie" data="data"
          labels="labels" legend:true > 
        </canvas> 



     	<div id="results" ng-show="showResultsTable">
				<table class="pure-table pure-table-striped center" >
                    <tbody id="results-table">
                    	<tr>
                    		<td colspan="6">Your Tax Details</td>
                    	</tr>
                        <tr>
                            <th ng-mouseover="onFedFunc()" ng-mouseleave="onFedHover = false">Federal Tax</th>
                            <th ng-mouseover="onStateHover = true" ng-mouseleave="onStateHover = false">State Tax</th>
                            <th ng-mouseover="onMedHover = true" ng-mouseleave="onMedHover = false">Medicare Tax</th>
                            <th ng-mouseover="onFicaHover = true" ng-mouseleave="onFicaHover = false">FICA Tax</th>
                            <th ng-mouseover="onPeHover = true" ng-mouseleave="onPeHover = false">Personal Exemption</th>
                            <th ng-mouseover="onPostHover = true" ng-mouseleave="onPostHover = false">Post-Tax Income</th>     
                        </tr>

                        <tr>
                            <td>{{ federalTax | currency }}</td>
                            <td>{{ stateTax | currency }}</td>
                            <td>{{ medicareTax | currency}}</td>
                            <td>{{ ficaTax | currency}}</td>
                            <td>{{ exemption | currency }}</td>
                            <td>{{ postTaxIncome | currency }}</td>
                        </tr>  
                    </tbody>

                        <tbody id="each-joint" ng-show="filingStatus() == 'joint'">
                            <tr>
                                <td colspan="6">If you decide to split the cost, you will each pay:</td>
                            </tr>
                            <tr>
                                <td>{{ eachJointFed | currency }}</td>
                                <td>{{ eachJointState | currency }}</td>
                                <td>{{ eachJointMedi | currency}}</td>
                                <td>{{ eachJointFica | currency}}</td>
                                <td>{{ eachJointExemption | currency }}</td>
                                <td>{{ eachJointPost | currency }}</td>
                            </tr> 
                        </tbody>   

                </table>
    
     	</div>

        <div id="fed-pop" class="info-pop" ng-show="onFedHover"> 
            "A tax levied by the United States Internal Revenue Service (IRS) on the annual earnings of individuals, corporations, trusts and other legal entities. 
            <br> Federal income taxes are applied on all forms of earnings that make up a taxpayer's taxable income, such as employment earnings or capital gains."" 
            <br><div class="source"> source: Investopedia</div>
        </div>
        <div id="state-pop" class="info-pop" ng-show="onStateHover"> 
            "Tax levied on income at the state level. State income taxes have their own set of deductions and credits that may be awarded for certain activities, such as contributing to a state-sponsored 529 plan. 
            <br> Taxpayers who itemized deductions on their federal returns may deduct state taxes paid on Schedule A."
            <br><div class="source"> source: Investopedia</div>
        </div>
        <div id="med-pop" class="info-pop" ng-show="onMedHover"> 
            "Tax deducted from the wages of every legally working American that is used to pay for the Medicare program provided to individuals over the age of 65." 
            <br><div class="source"> source: Investorwords</div>
        </div>
        <div id="fica-pop" class="info-pop" ng-show="onFicaHover"> 
            "A U.S. law requiring a deduction from paychecks and income that goes toward the Social Security program and Medicare. 
            <br> Both employees and employers are responsible for sharing the FICA payments."
            <br><div class="source"> source: Investopedia</div>
        </div>
        <div id="pe-pop" class="info-pop" ng-show="onPeHover"> 
            "The dollar amount that each individual taxpayer is able to deduct for him or herself or a dependent each year. 
            <br> A separate personal exemption is accorded to every man, woman and child in the U.S. that must file a return. 
            <br> For example the amount of the personal exemption was $3,700 in 2011 and $3,800 in 2012."
            <br><div class="source"> source: Investopedia</div>
        </div>
        <div id="post-pop" class="info-pop" ng-show="onPostHover"> 
            Your income after all the aforementioned taxes are deducted. 
        </div>

    </div>

	<div class="footer">
	</div>
</body>

</html>



</html>